# Desafio Kaggle Titanic

1) Import Libraries

In [6]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

2) Import Files

In [7]:
train = pd.read_csv("C:/Users/rened/Desktop/Titanic Kaggle/train.csv")
test = pd.read_csv("C:/Users/rened/Desktop/Titanic Kaggle/test.csv")

3) Data Exploration

In [3]:
#train.head()
#test.head()
#test.info()
#train.info()
#train.describe()
#test.describe()
#train['Sex'].value_counts()

4) Model

In [8]:
model = RandomForestClassifier(n_estimators = 100, n_jobs = -1, random_state = 0)

5) Pre processamento

In [9]:
#Modificar coluna Sex para binário:
def change_sex(value):
    if value == 'female':
        return 1
    else:
        return 0
    
train['Sex_binary'] = train['Sex'].map(change_sex)
test['Sex_binary'] = test['Sex'].map(change_sex)

variaveis = ['Sex_binary', 'Age']

#train.head()

6) X e y

In [10]:
X = train[variaveis]
y = train['Survived']

X = X.fillna(-1)

X.head()

   Sex_binary   Age
0           0  22.0
1           1  38.0
2           1  26.0
3           1  35.0
4           0  35.0

7) Validação

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5)

8) Fit Model

In [12]:
model.fit(X_train, y_train)

RandomForestClassifier(n_jobs=-1, random_state=0)

9) Predict

In [14]:
p = model.predict(X_test)

10) Ver Resultado

In [15]:
np.mean(y_test == p)

0.7600896860986547